* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;    
    box-sizing: border-box;
   } 

html, body {
    height: 100%;
}

section {
    height: 100%;
    background-color: rgb(116, 38, 189);
}

.section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.534);
}
  
.input1 {
    border: 0px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color:transparent;
}

.input2 {
    width: 40%;
    border: 0px;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
}

.boton1 {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    color: black;
    top: 80%
}

#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: rgb(116, 38, 189);
    padding-inline: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}